server {
		listen 4242
		error /f/irst/error.html
		location / {
			methods GET
			root /
		}
		location /b {
			methods GET
			root /b
		}
		location /c {
			methods GET
			root /c
		}
		location /a/b {
			methods GET
			root /a/b
		}
		location /b/b {
			methods GET
			root /b/b
		}
		location /c/b {
			methods GET
			root /c/b
		}
		location /a/b/cde {
			methods GET
			root /a/b/cde
		}
		location /a/b/cd {
			methods GET
			root /a/b/cd
		}
}
