server {
	listen 4141
	location / {
		root /
		methods GET
		autoindex on
	}
	location /github/ {
		redirect_to https://github.com
	}
	cgi .php {
		methods GET POST
	}
	cgi .py {
                methods GET POST
        }

        cgi .out {
                methods GET POST
        }
	location /post_body {
		root /
		upload_path /upload_path/
		methods POST DELETE
		autoindex on
	}

}

server {
	listen 4142
	location /post {
		root /www/post
		methods POST
		body_max 2048
		upload_path /upload
	}
	location /delete {
		root /www/post/upload
		methods DELETE
	}
}

server {
	listen 8282
	location / {
		root /www/html_css_piscine
		index index.html
		methods GET
	}
}

server {
	listen 4141
	server_name hihi
	location /hi/ {
		root /www/html_css_piscine
		index index.html
		methods GET
	}
}

server {
	listen 8383
	location / {
		root /www/doxyserv/html
		methods GET
	}
}
