server {
	listen 4141
	location / {
		root /
		methods GET
		autoindex on
	}
	location /github/ {
		redirect_to https://github.com
	}
	cgi .php {
		methods GET POST
	}
	cgi .py {
                methods GET POST
        }

        cgi .out {
                methods GET POST
        }
	location /post_body {
		root /
		upload_path /upload_path/
		methods POST DELETE
		autoindex on
	}
}

server {
	listen 4142

	location / {
		root /
		methods GET
		autoindex on
	}

	location /get {
		root /
		methods GET
		autoindex on
	}

	location /post {
		root /www
		methods POST
		body_max 4096
		upload_path /post
	}

	location /delete {
		root /www/post
		methods DELETE
	}
	
	location /redirect_to {
		redirect_to https://google.com
	}
	
	cgi .php {
		methods GET POST
	}
}

server {
	listen 4143
	error ./www/error.html
	location / {
		root /www
		methods GET
		autoindex on
	}
}

server {
	listen 4144
	error ./www/not_exist_error_page.html
	location / {
		root /www
		methods GET
		autoindex on
	}
}

server {
	listen 8282
	location / {
		root /www/html_css_piscine
		index index.html
		methods GET
	}
}

server {
	listen 4141
	server_name hihi
	location /hi/ {
		root /www/html_css_piscine
		index index.html
		methods GET
	}
}

server {
	listen 8383
	location / {
		root /www/doxyserv/html
		methods GET
	}
}
