server {
	listen 4242
	location / {
	}
}

server {
	listen 42423
	location / {
	}
}

server {
	listen 42425
	location / {
	}
}
server {
	listen 3456
	location / {
	}
}
server {
	listen 4241
	location / {
	}
}
server {
	listen 42420
	location / {
	}
}

server {
	listen 42422
	location / {
	}
}
server {
	listen 3457
	location / {
	}
}