server {
	listen 4242
	route / {
	}
}

server {
	listen 42423
	route / {
	}
}

server {
	listen 42425
	route / {
	}
}
server {
	listen 3456
	route / {
	}
}
server {
	listen 4241
	route / {
	}
}
server {
	listen 42420
	route / {
	}
}

server {
	listen 42422
	route / {
	}
}
server {
	listen 3457
	route / {
	}
}