server {
	listen 17
	route /http_no_port {
		redirect_to naver.com
	}
	route /http_port {
		redirect_to naver.com:8080
	}
	route /http_protoc_no_port {
		redirect_to http://naver.com
	}
	route /https_protoc_no_port {
		redirect_to https://naver.com
	}
	route /https_protoc_port {
		redirect_to https://naver.com:80
	}
	route /https_only_port {
		redirect_to naver.com:443
	}
}
