server {
	listen 4141
	location / {
		root /
		methods GET
		autoindex on
	}
	location /directory {
		root /YoupiBanane
		index youpi.bad_extension
		autoindex off
		methods GET
	}
	location /post_body {
		root /
		methods GET POST DELETE
		autoindex on
	}
	cgi .bla {
		root /YoupiBanane
		methods GET POST
	}
	cgi .php {
		methods GET POST
	}
}
