server {
	listen 4141
	location / {
		root /
		methods GET
		autoindex on
	}
	location /directory {
		root /YoupiBanane
		index youpi.bad_extension
		autoindex off
		methods GET
	}
	location /post_body {
		root /
		methods POST DELETE
		autoindex on
	}
	cgi .bla {
		root /YoupiBanane
		methods GET POST
	}
	cgi .php {
		methods GET POST
	}
	cgi .py {
                methods GET POST
        }

        cgi .out {
                methods GET POST
        }
}

server {
	listen 8282
	error /tests/ResponseFormatter/error.html
	location /42cursus {
		root /
		upload_path /upload_path
		methods GET POST DELETE
		autoindex on
	}
	location /post_body {
		upload_path /second
	}
}

server {
	listen 7070
	error /tests/ResponseFormatter/error.html
	location / {
		root /
		upload_path /upload_path
		methods GET POST DELETE
		autoindex on
	}
}

server {
	listen 7071
	error /tests/ResponseFormatter/error.html
	location / {
		root /tests
		upload_path /upload_path
		methods GET POST DELETE
		autoindex on
	}
}

server {
	listen 7072
	error /tests/ResponseFormatter/error.html
	location / {
		root /srcs
		upload_path /upload_path
		methods GET POST DELETE
		autoindex on
	}
}
